body{
   /* background-color: black;*/
   background-image: url("../img/bg-body.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}
.bd-site{
    background-color: black;
}
.bg-navtop {
    background-color: rgb(255, 255, 255);
}
.logo{
    width: 320px;
    height: 160px;
}
/*---------------------------navbar------------------------*/
.nav{
    background-color: rgb(0, 0, 0);
}
#nav a{
    color:#ffffff;
    font-weight: bold;
}
#nav a:hover{
    background-color:#ffffff ;
    color: black;
}


/*-----------------------------------section-description---------------------------------------*/
.bd-description{
    background-image: url(../img/bd-sec1.png);
    background-size: cover;
    border-radius: 2px;
    padding: 25px;
    opacity: 0.8;
}
.titles-description{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
}  
.body-description{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}
/*--------------------------------------------section-cards-acteurs---------------------------------------*/

.text-acteur{
    background-color: rgb(165,171,180,0.6);
    width: 100%;
    height: 350px;  
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 0;
}
.text-acteur:hover{
    opacity: 1;
}
.image-acteur{
    width: 100%;
    height: 350px;   
}
.image-acteur:hover{
    opacity: 0;
}
#acteur .col-md-3{
padding: 0;
margin: 0;
}
.name{
    color:black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
}
.slug {
    color:black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
.house{
    color:black;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
.quotes{
    color:black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
}


/*-----------------------------------------------section-cards-serie----------------------------------*/

.card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

@font-face {
    font-family: game;
    src: url('webfont.eot');
    src: url('webfont.eot?#iefix') format('embedded-opentype'),
    url('css/VTCSwitchbladeRomanceDrunk.ttf') format('ttf'), 
    url('webfont.svg#svgFontName') format('svg');
}
h1{
    color: rgb(255, 255, 255);
    font-family: game;
    font-size: 3rem;
}
  /*----------------------------footer----------------------------*/
  .color-footer{
      color: rgb(255, 255, 255);
      background-color: black;
     
  }
  .color-link{
      color: black;
      font-size: 20px;   
  }
 /*---------------------------responsive----------------------------*/

 